*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 229, 229);
}

.hero-box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.hero-box .news-wrapper {
  width: 65%;
}
.hero-box .news-wrapper .main-news {
  display: flex;
  width: 100%;
  height: 50%;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.hero-box .news-wrapper .main-news .new {
  margin-bottom: 30px;
  width: 50%;
}
.hero-box .news-wrapper .main-news .new a {
  height: 100%;
  display: block;
  background-color: white;
  text-decoration: none;
}
.hero-box .news-wrapper .main-news .new a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 200px;
}
.hero-box .news-wrapper .main-news .new a .main-news-info {
  border: none;
  padding: 38px;
  width: 100%;
  display: block;
}
.hero-box .news-wrapper .main-news .new a .main-news-info .info-title {
  text-transform: uppercase;
  color: rgb(39, 39, 204);
  margin: 0px 0px 13px 0px;
  font-size: x-small;
}
.hero-box .news-wrapper .main-news .new a .main-news-info .info-description {
  font-size: larger;
  margin: 0px 0px 11px 0px;
  color: black;
}
.hero-box .news-wrapper .main-news .new a .main-news-info .info-date {
  color: rgb(30, 29, 29);
  font-size: smaller;
  margin: 10px 0px 0px;
}
.hero-box .news-wrapper .additional-news-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new {
  height: 50%;
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new a {
  text-decoration: none;
  display: flex;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new a img {
  width: 30%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new a .additional-new-info {
  padding-left: 20px;
  width: 70%;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new a .additional-new-info .additional-news-description {
  color: black;
}
.hero-box .news-wrapper .additional-news-wrapper .additional-new a .additional-new-info .additional-news-description {
  margin: 0px 0px 11px;
}
.hero-box .news-wrapper .news-link {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 500;
  font-weight: bolder;
  background-color: white;
  width: 100%;
  display: inline-block;
  padding: 33px 60px 33px 40px;
  border-radius: 10px;
}
.hero-box .news-wrapper .videos-wrapper {
  width: 100%;
}
.hero-box .news-wrapper .videos-wrapper iframe {
  width: 100%;
}
.hero-box .news-wrapper .videos-wrapper .videos-title {
  margin: 40px 0px 25px 0px;
}
.hero-box .news-wrapper .videos-wrapper .videos-title-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-box .podcasts-wrapper {
  width: 35%;
}
.hero-box .podcasts-wrapper .podcast {
  background-color: white;
  margin-bottom: 25px;
}
.hero-box .podcasts-wrapper .podcast .audio-container {
  height: 16.6666666667%;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  display: flex;
}
.hero-box .podcasts-wrapper .podcast .audio-container img {
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-box .podcasts-wrapper .podcast .audio-container .time {
  color: rgb(149, 151, 151);
  text-align: center;
  align-self: center;
  width: 60%;
}
.hero-box .podcasts-wrapper .podcast .audio-container button {
  width: 20%;
  min-height: 100%;
  cursor: pointer;
}
.hero-box .podcasts-wrapper .podcast .audio-container button img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-box .podcasts-wrapper .podcast .audio-info {
  padding: 17px 20px;
}
.hero-box .podcasts-wrapper .podcast .audio-info .audio-description {
  font-size: smaller;
  margin: 0px 0px 11px;
}
.hero-box .podcasts-wrapper .events-wrapper .event {
  margin-bottom: 20px;
}
.hero-box .podcasts-wrapper .events-wrapper .event a {
  text-decoration: none;
  position: relative;
}
.hero-box .podcasts-wrapper .events-wrapper .event a img {
  display: block;
  width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-date {
  max-width: 60px;
  color: black;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 40px;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-date .event-day {
  padding: 9px 4px 10px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-date .event-month {
  background-color: rgb(193, 10, 168);
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: smaller;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-description {
  background-color: black;
  width: 100%;
  padding: 50px 20px 20px;
  color: white;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-description .location {
  text-transform: uppercase;
  font-size: smaller;
  font-weight: lighter;
  margin-bottom: 3px;
}
.hero-box .podcasts-wrapper .events-wrapper .event a .event-description .event-name {
  margin: 0px;
}
.hero-box .podcasts-wrapper .events-wrapper .news-link {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 500;
  font-weight: bolder;
  background-color: white;
  width: 100%;
  display: inline-block;
  padding: 33px 60px 33px 40px;
  border-radius: 10px;
}

/* 

*, *::before, *::after {
    box-sizing: border-box;
  }
  body {
    background-color: #f2f2f2;
  }
  .container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }
  a.button-title {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 30px 40px;
    display: block;
    border-radius: 8px;
    font-size: 30px;
  }
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
  }
  .section-title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }
  .news-article {
    width: 50%;
  }
  .news-article a {
    text-decoration: none;
    color: black;
  }
  .content-wrapper {
    display: flex;
    column-gap: 30px;
  }
  .main-content {
    width: 65%;
  }
  .sidebar-content {
    width: 35%;
  }
  .main-news {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  .main-news .news-article {
    background-color: white;
  }
  .main-news .news-article .image-wrapper {
    height: 260px;
  }
  .main-news .news-article .info-wrapper {
    padding: 30px;
  }
  .main-news .news-article .info-wrapper .article-category {
    color: #1200ff;
    text-transform: uppercase;
    font-weight: 600;
  }
  .main-news .news-article .info-wrapper .article-title {
    font-size: 30px;
    margin: 13px 0 10px;
  }
  .secondary-news {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  .secondary-news .news-article {
    width: calc((100% - 30px) / 2);
  }
  .secondary-news .news-article a {
    display: flex;
  }
  .secondary-news .news-article .image-wrapper {
    width: 120px;
    height: 80px;
  }
  .secondary-news .news-article .info-wrapper {
    width: calc(100% - 120px);
    padding-left: 20px;
  }
  .secondary-news .news-article .info-wrapper .article-title {
    margin: 5px 0;
    font-size: 20px;
  }
  .video .video-wrapper {
    height: 450px;
  }
  .podcasts-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .podcast {
    background-color: white;
  }
  .podcast .podcast-control {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
  }
  .podcast .podcast-control .podcast-image {
    height: 70px;
    width: 70px;
    object-fit: cover;
  }
  .podcast .podcast-control .podcast-play {
    height: 70px;
    width: 70px;
    background-color: white;
    border: 0;
  }
  .podcast .podcast-info {
    padding: 20px;
  }
  .podcast .podcast-info .podcast-title {
    margin: 0 0 8px;
  }
  .event {
    background-color: black;
    margin-bottom: 30px;
  }
  .event a {
    color: white;
    text-decoration: none;
  }
  .event .event-info {
    padding: 20px;
  }
  .event .event-info .event-date {
    width: 70px;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
  }
  .event .event-info .event-date .event-day {
      font-size: 28px;
      padding: 9px 5px;
      background-color: white;
      color: black;
  }
  .event .event-info .event-date .event-month {
    padding: 5px;
    background-color: #ff00e9;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  }
  .event .event-info .event-location {
    font-size: 10px;
    margin-bottom: 3px;
    text-transform: uppercase;
    display: block;
  }
  .event .event-info .event-title {
    margin: 0;
    font-size: 24px;
  } *//*# sourceMappingURL=style.css.map */